{
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": true,
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "plugin:react/recommended",
    "plugin:jest/recommended",
    "eslint-config-uber-universal-stage-3"
  ],
  "env": {
    "jest": true,
    "node": true,
    "es2022": true,
    "browser": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "plugins": [
    "eslint-plugin-react"
  ],
  "rules": {
    "react/prop-types": 0,
    "react/no-deprecated": 0
  }
}
